.EditTodoModal {
    &__container {
        border-radius: 15px;
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    &__logo {
        min-width: 90px;
        width: 30%;
        margin: 0 auto 4px;
        display: block;
    }

    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 1.3rem;
        margin: 0;
    }

    &__detail {
        text-align: center;
        font-size: 1.2rem;
        margin: 0;
    }

    &__condition {
        color: white;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        font-size: 1.2rem;
    }

    &__button {
        margin: 10px auto;
    }
}